

$tertiaire: rgb(153, 226, 208);
$grey: rgb(245, 245, 245);
$delay: 1000ms;

.main-container {
	position: relative;
	top: -80px;
	padding: 17px;
	background: $grey;
	border-radius: 35px 35px 0 0;

	.main-container__title {
		margin-top: 20px;
		justify-content: space-between;
	}
}
.menu-elements {
	margin-top: 40px;
	.menu-elements__title {
		width: 11%;
		padding-bottom: 7px;
		border-bottom: 3px solid $tertiaire;
	}
	@for $element from 1 through 10 {
		.menu-elements__plates#{$element} {
			width: 90%;
			height: 50px;
			flex-direction: column;
			justify-content: space-between;
			padding: 12px 25px 12px 12px;
			margin: 15px auto;
			background: white;
			border-radius: 15px;
			box-shadow: grey 1px 1px 10px;
			white-space: nowrap;
			overflow: hidden;
  			text-overflow: ellipsis;
  			transform-origin: left;
   			transform: scaleX(1);
    		transition: transform 500ms;
    		animation: elements $delay;
			animation-fill-mode: forwards;
			.menu-elements__plates__text {
				justify-content: space-between;
			}
			.menu-elements__plates__text__plate-description {
				display: block;
				width: 300px;
				white-space: nowrap;
  				overflow: hidden;
	  			text-overflow: ellipsis;
			}
	    	&:hover {
    			.check {
    				transform: scaleX(1);
    			}
    			.price {
    				transform: translateX(-125%);
    			}
	  	  		.check__cross {
    				display: block;
    				transform: translateX(-500%) rotate(720deg);
    			}	
			}

			/*&:not(:hover) {
				.check__cross {
					transform: rotate(0);
				}
    		}*/
		}
		$delay: $delay + 300ms;
	}
}

.check {
	position: absolute;
	display: flex;
	right: 0;
	top: 0;
	height: 100%;
	width: 20%;
	background: $tertiaire;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 500ms;
}

.price {
	display: block;
	width: 20%;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
	transform: translateX(0%);
	transition: transform 500ms;
}

.check__cross {
	position: absolute;
	display: none;
	right: -153px;
	top: 23px;
	margin: auto;
	color: white;
	font-size: 1.8em;
	transform: rotate(-720deg);
	transform: translateX(0);
	transition: all 500ms;
}

@keyframes elements {
    0% {
    	opacity: 0;
        transform: translateY(50px);
    }
    100% {
    	opacity: 1;
       	transform: translateY(0px);
    }
}
























